@import url("https://fonts.googleapis.com/css2?family=Agbalumo&family=Roboto+Slab:wght@500&display=swap");

.aboutDesign {
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
  background-image: url("../../img/about.jpg");
  background-size: cover;
  
}

.aboutDiv {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 100vw;
  height: 30em;
  margin-top: 7em;
  overflow: hidden; 
}

.aboutLogo {
  height: 30em;
  width: 35em;
  overflow: hidden;
  filter: drop-shadow(0 1px 1px yellow);
  margin-left: 2.5em;
}

.textAbout {
  color: white;
  font-size: 1.3em;
  margin-left: 17.5em;
  font-family: "Agbalumo", cursive;
  width: 30em;
  overflow: hidden;
}

.nextText {
    color: white;
  font-size: 1.3em;
  font-family: "Agbalumo", cursive;
  width: 30em;
  overflow: hidden;
}

.colums {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.colourText {
  color: gold;
}

.buttonBookDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1em;
  overflow: hidden;
}

.appointmentAbout {
  border: solid 1px gold;
  width: 10em;
  height: 3em;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  font-size: 20px;
  overflow: hidden;
}

#head {
  font-size: 2em;
}

.appointmentAbout:hover {
  cursor: pointer;
  color: gold;
  background-color: white;
  scale: 1.02;
  overflow: hidden;
}

@media screen and (max-width: 768px) {
  .aboutDesign {
    height: 37em;
  }

  .aboutDiv {
    flex-direction: column;
    margin-top: 3em;
  }

  .aboutLogo {
    height: 0em;
    width: 100%;
    max-width: 0em;
  }

  .textAbout {
    margin-left: 0;
    width: 80%;
    text-align: center;
  }
}

@media screen and (max-width: 480px) {
  .aboutDesign {
    height: 40em;
  }

  .aboutLogo {
    max-width: 0em;
  }

  .textAbout {
    font-size: 0.9em;
  }
}
