@import url("https://fonts.googleapis.com/css2?family=Agbalumo&family=Roboto+Slab:wght@500&display=swap");

.loginDesign {
  height: 100vh;
  width: 100vw;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-image: url(../../img/login.jpg);
  background-size: cover;
}

.header {
  font-family: "Agbalumo", cursive;
  font-size: 2.5em;
  color: gold;
}

.buttonLogin {
  height: 3em;
  width: 8em;
  font-size: 1.5em;

  border-radius: 1em;
  background-color: #5086c1;
  color: white;
  font-weight: bolder;

  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0.5em;
}

.errorMsg {
  color: red;
  border-radius: 0.5em;
  border: 2px solid red;
  padding: 2px;
  background-color: white;
  opacity: 70%;
}

.errorMsgVoid {
  display: none;
}

.errorMsgVoid.errorMsg {
  display: flex;
}

@-webkit-keyframes buttonLogin {
  from {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: center center;
    transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  10% {
    -webkit-transform: scale(0.91);
    transform: scale(0.91);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  17% {
    -webkit-transform: scale(0.98);
    transform: scale(0.98);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  33% {
    -webkit-transform: scale(0.87);
    transform: scale(0.87);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  45% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
}
@keyframes buttonLogin {
  from {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: center center;
    transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  10% {
    -webkit-transform: scale(0.91);
    transform: scale(0.91);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  17% {
    -webkit-transform: scale(0.98);
    transform: scale(0.98);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  33% {
    -webkit-transform: scale(0.87);
    transform: scale(0.87);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  45% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
}

.buttonLogin:hover {
  transition: 0.4s;
  background-color: #f47e8e;
  cursor: pointer;
  -webkit-animation: buttonLogin 1.5s ease-in-out infinite both;
  animation: buttonLogin 1.5s ease-in-out infinite both;
}
