@import url("https://fonts.googleapis.com/css2?family=Agbalumo&family=Roboto+Slab:wght@500&display=swap");

.userTableDesign {
  height: 100vh;
  width: 100vw;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 3em;
  background-image: url(../../img/superadmin.jpg);
  background-size: cover;
  color: white;
  font-family: "Agbalumo", cursive;
  overflow-x: hidden;
  overflow-y: auto;
}

.tableContainer {
  margin-top: 1em;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 1em;
}

th,
td {
  border-bottom: 1px solid white;
  padding: 8px;
  text-align: left;
}

th {
  background-color: gold;
  font-size: 1.5em;
}

td {
  font-size: 1.2em;
  background-color: black;
  opacity: 80%;
}

body {
  --sb-track-color: #000;
  --sb-thumb-color: #ffd700;
  --sb-size: 10px;
  background-color: black;

  scrollbar-color: var(--sb-thumb-color) var(--sb-track-color);
  overflow-x: hidden;
}

body::-webkit-scrollbar {
  width: var(--sb-size);
}

body::-webkit-scrollbar-track {
  background: var(--sb-track-color);
  border-radius: 10px;
}

body::-webkit-scrollbar-thumb {
  background: var(--sb-thumb-color);
  border-radius: 10px;
}
