@import url('https://fonts.googleapis.com/css2?family=Agbalumo&family=Roboto+Slab:wght@500&display=swap');


.headerDesign {

    height: 5vh;
    width: 100vw;

    background-color: #f47e8e;

    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;

    color: white;
    font-weight: bold;
    font-size: 1.5em;
    font-family: agbalumo;
}