.gallery-container {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding-top: 10em;
  background-color: black;
}

.d-flex {
  height: 100vh;
  width: 100vw;
  max-width: 2000px;
  min-height: 1350px;
  background-color: black;
}
