@import url('https://fonts.googleapis.com/css2?family=Agbalumo&family=Roboto+Slab:wght@500&display=swap');

.tattooStyles {
    width: 100vw;
    height: 40em;
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Abgalumo', cursive;
    background-image: url('../../img/home-example.jpg');
    object-fit: cover;
    background-repeat: no-repeat;
    overflow: hidden;
}

.tattooInfo {
    color: gold;
    font-size: 5em;
    margin-top: 1em;
    overflow: hidden;
}

.stylesInfo {
    color: white;
    font-size: 20px;
    width: 50%;
    overflow: hidden;   
}

.stylesBanner {
    filter: saturate(1.5);
}

.image-container {
    display: flex;
    justify-content: space-around;
    padding: 10em;
}

.image-tattoo {
    max-width: 25%;
    height: auto;
    border: solid 2px gold;      
  }

.image-tattoo:hover {
    scale: 1.1;
    transition: 0.2s;
    -webkit-animation: image-tattoo 0.4s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
        animation: image-tattoo 0.4s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
  }

@-webkit-keyframes image-tattoo {
    0% {
      -webkit-transform: rotateY(0);
              transform: rotateY(0);
    }
    100% {
      -webkit-transform: rotateY(180deg);
              transform: rotateY(180deg);
    }
  }
@keyframes image-tattoo {
    0% {
      -webkit-transform: rotateY(0);
              transform: rotateY(0);
    }
    100% {
      -webkit-transform: rotateY(180deg);
              transform: rotateY(180deg);
    }
  }